
#contenido{
	width: 1300px;
	height: auto;
	margin: auto;
	position: relative;
	}

//classes//

.ancho_menu_home{width: 900px;}
.ancho_menu_paginas{width: 970px;}

.menu:link{color: white; text-decoration: none;}
.menu:visited{color: white; text-decoration: none;}
.menu:hover{color: white; text-decoration: none; text-shadow: 0 0 13px white;}
.menu:active{color: white; text-decoration: none;}

.men-infe{	padding-top:5px; color:black; font-size:12px; text-align:center; line-height:17px;}

body{
background-image: url(../images/fondo3.jpg);
background-repeat: no-repeat;
background-size: cover;
}

header{
	
}
nav {
width: 1200px;
height: 50px;
background: darkorange;
border-radius: 50px;
margin-left: 50px;
}

li{
	float: left;
	list-style-type: none;
	padding: 10px;
	background: midnightblue;
	margin: 3px;
	border-radius: 10px;
	box-shadow: 0 0 30px white inset; display: inline;
}


ul{
margin: auto;
padding-top: 3px;
}


section{
	width: 1000px;
	background: darkslateblue;
	height: 1400px;
	float: left;
	margin-top: 10px;
	margin-left: 50px;
	border-radius: 10px;
}
aside{

	width: 150px;
	background: darkslateblue;
	height: 1400px;
	color: white;
	float: left;
	margin-left: 50px;
	margin-top: 10px;
	border-radius: 10px;
}
h1{
font-family: 'Shadows Into Light', cursive;
color: white;
margin-left: 10px;
font-size: 60px;
text-align: center; 
}

h2{
font-family: 'Indie Flower', cursive;
color: yellow;
margin-left: 10px;
font-size: 30px;
text-align: center; 
}

h3{
font-family: 'Shadows Into Light', cursive;;
color: white;
font-size: 30px;
text-align: center; 
}

h4{
font-family: 'Shadows Into Light', cursive;;
color: yellow;
font-size: 20px;
text-align: left; 
margin-left: 50px;
}

footer{
width: 1200px;
height: 80px;
clear: both;
float: left;
background: darkorange;
margin-top: 20px;
border-radius: 10px;

margin-left: 50px;
}

p{
	font-size: 15px;
	font-weight: bolder;
	line-height: 24px;
	padding: 30px;
	text-align: justify;
	color: white;

}



















